git+https://github.com/huggingface/transformers
git+https://github.com/openai/whisper.git
transformers
ffmpeg-python==0.2.0
gradio
gradio-client
yt-dlp
torchaudio
altair
json5

# Needed by diarization
intervaltree
srt
torch
# pianote.audio
